body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(193, 205, 201);
}


#calculator{
    background-color: rgb(23, 22, 23);
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}

#display{
    margin: 10px;
    width: 85%;
    font-size: 25px;
}

.button-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button{
    font-size: 18px;
    background-color: aqua;
    width: 45px;
    height: 45px;
    margin: 3px;
    border-radius: 5px;
}

.button1{
    background-color: rgb(209, 201, 201);
    font-size: 20px;
    width: 45px;
    height: 45px;
    margin: 3px;
    border-radius: 8px;
}